@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

section {
  @apply py-20;
}

.slick-dots {
  color: #1A21BC;
}

.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #1A21BC !important;
}

.slick-dots li button:before {
  font-size: 11px !important;
}